VITE_SUPABASE_URL=https://wahjlfglzbmzdfvabjpa.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndhaGpsZmdsemJtemRmdmFianBhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzAwODA0OTEsImV4cCI6MjA4NTY1NjQ5MX0.uPNxipBZJGUxb07kvc_l_Dg4cz-m2o8adY93h9OR7No
